<% if @instructor.profile_picture.attached? %>
  <%= image_tag @instructor.profile_picture %>
<% end %>
<h1><%= @instructor.name %></h1>
<p><%= @instructor.email %></p>
<p><%= @instructor.bio %></p>
<%= link_to 'Atualizar', edit_instructor_path %>
<%= link_to 'Voltar', instructors_path %>