<h1>Cadastrar uma aula</h1>

<%= form_with model: [@course, @lesson] do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>

    <% @lesson.errors[:name].each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
  <div>
    <%= f.label :duration, 'Duração' %>
    <%= f.number_field :duration, step: 1, min: 0 %>
  </div>  
  <div>
    <%= f.label :content, 'Conteúdo' %>
    <%= f.text_area :content %>
  </div>  
    <%= f.submit 'Cadastrar aula' %>
<% end %>