<% if @course.banner.attached? %>
  <%= image_tag @course.banner %>
<% end %>
<h1><%= @course.name %></h1>
<dl>
  <dt>Descrição</dt>
  <dd><%= @course.description %></dd>
  <dt>código</dt>
  <dd><%= @course.code %></dd>
  <dt>Preço</dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt>Data limite de matrícula</dt>
  <dd><%= I18n.localize @course.enrollment_deadline %></dd>
  <dt>Instrutor</dt>
  <dd><%= @course.instructor.name %></dd>
</dl>
<%= link_to 'Voltar', courses_path %>
<%= link_to 'Registrar uma aula', new_course_lesson_path(@course) %>

<h1>Aulas</h1>
<% if @course.lessons.empty?%>
  <p>Não há aulas cadastradas para este curso</p>
<% else %>
  <div>
    <% @course.lessons.each do |lesson| %>
      <%= link_to lesson.name, course_lesson_path(lesson) %>
      <p><%= t('lesson.duration', count: lesson.duration) %></p>
    <% end %>
  </div>
<% end %>

